<h1 class="signupTitle">Sign up</h1>
<p class="signupError"> {{errorMsg}} </p>
<form class="signupForm" (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
    <div style="animation: 1.3s slidein;" class="signupInputGroup">
        <label for="inputMail" class="signupInputLabel">Email address</label>
        <input type="email" class="signupInput" id="inputMail" [(ngModel)]="email" name="inputEmail" />
    </div>
    <div style="animation: 1.6s slidein;" class=" signupInputGroup">
        <label for="inputPass" class="signupInputLabel">Password</label>
        <input type="password" class="signupInput" id="inputPass" [(ngModel)]="password" name="inputPassword" />
    </div>
    <div style="animation: 1.6s slidein;" class=" signupInputGroup">
        <label for="inputPassConfirm" class="signupInputLabel">Confirm password</label>
        <input type="password" class="signupInput" id="inputPassConfirm" [(ngModel)]="passwordConfirm"
            name="inputPasswordConfirm" />
    </div>
    <div style="animation: 1.9s slidein;" class="signupInputGroup">
        <label for="inputName" class="signupInputLabel">Username</label>
        <input type="text" class="signupInput" id="inputName" [(ngModel)]="name" name="inputUsername" />
    </div>
    <button style="animation: 2.2s slidein;" type="submit" class="signupButton">Sign up</button>
    <p style="animation: 2.5s slidein;" class="signupQuestion"><em>Already signed-up ? you can sign-in <a
                [routerLink]="['/signin']">here</a></em></p>
</form>