<h1 class="signupTitle">Chat</h1>
<div class="chatContainer">
    <ul class="messagesContainer">
        <li *ngFor="let chat of chats" [ngClass]="{ourMessage: isOurMessage(chat), message: !isOurMessage(chat)}">
            {{chat.content}} </li>
    </ul>
</div>
<div class="chatInputGroup">
    <input type="text" class="chatInput" id="inputChat" [(ngModel)]="typedChat" name="chatInputSend" />
    <button class="chatInputButton">SEND</button>
</div>

<button class="leaveButton" (click)="leaveChat()">Leave Chat</button>