<h1 class="signupTitle">Chat</h1>
<div class="chatContainer">
    <ul #chatScroll class="messagesContainer">
        <li *ngFor="let chat of chats" [ngClass]="{ourMessage: isOurMessage(chat), message: !isOurMessage(chat)}">
            <span *ngIf="!isOurMessage(chat)">{{chat.sender.name}} ▶️ </span> {{chat.content}}
        </li>
    </ul>
</div>

<form (ngSubmit)="newDoc()" #form="ngForm" class="chatInputGroup">
    <input type="text" class="chatInput" id="inputChat" [(ngModel)]="typedChat" name="chatInputSend" />
    <button type="submit" class="chatInputButton">SEND</button>
</form>

<button class="leaveButton" (click)="leaveChat()">Leave Chat</button>