<h1 class="signupTitle">Sign in</h1>
<p class="signupError"> {{errorMsg}} </p>
<form class="signupForm" (ngSubmit)="onSubmit()" #form="ngForm" autocomplete="off">
    <div style="animation: 1.3s slidein;" class="signupInputGroup">
        <label for="inputMail" class="signupInputLabel">Email address</label>
        <input type="email" class="signupInput" id="inputMail" [(ngModel)]="email" name="inputEmail" />
    </div>
    <div style="animation: 1.6s slidein;" class=" signupInputGroup">
        <label for="inputPass" class="signupInputLabel">Password</label>
        <input type="password" class="signupInput" id="inputPass" [(ngModel)]="password" name="inputPassword" />
    </div>
    <button style="animation: 2.2s slidein;" type="submit" class="signupButton">Sign in</button>
    <p style="animation: 2.5s slidein;" class="signupQuestion"><em>Not signed-up ? you can sign-up <a
                [routerLink]="['/']">here</a></em></p>
</form>